body {
    margin: 0;
    padding: 0;
    font-size: 18pt;
    font-family: "UD デジタル 教科書体 NP-R";
    counter-reset: page-count;
}

.header {
    font-family: "BIZ UDゴシック";
    margin: 0 0 3em 0;
    padding: 0.5em;
    border-bottom: 0.5pt solid #ccc;
    font-size: 12pt;
}

.card {
    counter-increment: page-count;
}

.card-front {
    margin: 0;
    padding: 0;
    border: 0;
}

.card-back {
    margin: 0;
    padding: 0;
    border: 0;
}

.item-set {
    padding: 1em 2em 1em 6em;
    counter-reset: item-number;
}

.item {
    margin: 0 0 1em 0;
    text-indent: -6em;
    line-height: 150%;
    counter-increment: item-number;
}

.item:before {
    font-family: "BIZ UDゴシック";
    vertical-align: middle;
    content: '□□□　(' counter(item-number) ')　';
}

.card-front .q {
    border-bottom: 0.5pt solid #000;
}

.card-back .q {
    color: #F00;
}

.footer {
    font-family: "BIZ UDゴシック";
    margin: 4em 0 0 0;
    padding: 0.5em;
    border-top: 0.5pt solid #ccc;
    font-size: 12pt;
    text-align: right;
}

.page:after {
    content: counter(page-count);
}
